<div class='main'>
<h2>Available drones</h2>

<div class='content'>
{{#each drones}}
<div class='card'>
<p>Name: {{this.name}}</p>
<p>Number of propellers: {{this.propellers}}</p>
<p>Max speed: {{this.maxSpeed}}</p>

<div class='buttons'>
<a href="/drones/{{this._id}}/edit">Update drone</a>

<form action="/drones/{{this._id}}/delete" method='post' class='form'>
<button>Delete drone</button>
</form>
</div>
</div>
{{/each}}
</div>
</div>