<div class='main'>
<h2>Update the drone '<i>{{droneToEdit.name}}</i>'</h2>

<div class='card'>
<form action='/drones/{{droneToEdit._id}}/edit' method='post' class='form'>

<label for='name' class='label'>Name: </label>
<input id='name' name='name' type='text' value='{{droneToEdit.name}}'/>

<label for='propellers' class='label'>Number of propellers: </label>
<input id='propellers' name='propellers' type='number' value='{{droneToEdit.propellers}}'/>

<label for='maxSpeed' class='label'>Max speed: </label>
<input id='maxSpeed' name='maxSpeed' type='number' value='{{droneToEdit.maxSpeed}}'/>

<button>Update drone!</button>
</form>
</div>
</div>